#wrapper {
    position: relative;
    height: 100%;
}
#sidebar-wrapper {
    transition: 1.5s;
    z-index: 1;
    position: absolute;
    width: 60px;
    height: 100%; 
    overflow-y: hidden;
    overflow-x: hidden;
    background: #2c3e50;
}

#page-content-wrapper {
    height: 100%;
    transition: 1.5s;
    width: 100%;
    position: inherit;
    padding: 15px;
    padding-left: 60px;
    padding-top: 0%;
}


#wrapper.menuDisplayed #sidebar-wrapper {
    transition: 1.5s;
    width: 200px;
}

#wrapper.menuDisplayed #page-content-wrapper {
    transition: 1.5s;
    padding-left: 200px;
    
}

.sidebar-nav {
    width:200px;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}
.active {
    background: #5b5b5c;
}
.sidebar-nav li a:hover {
    background: #16a085;
}
.icon {
    padding-right: 2px;
}



/*Chart*/
.mdbcontainer {
    margin-left: 2% !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
}

.cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
  }
  
  .cascading-admin-card .admin-up .fa {
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  }
  
  .cascading-admin-card .admin-up .fa {
    padding: 1.7rem;
    font-size: 2rem;
    color: #fff;
    text-align: left;
    margin-right: 1rem;
    border-radius: 3px;
  }
  
  .cascading-admin-card .admin-up .data {
    float: right;
    margin-top: 2rem;
    text-align: right;
  }
  .admin-up .data p {
    color: #999999;
    font-size: 12px;
  }
  @media (max-width: 1199.98px) {
    
    .card.cascading-admin-card {
      margin-top: 2.5rem;
    } 
  }
  
  @media (max-width: 576px) { 
    .card.cascading-admin-card {
      margin-top: 2.5rem;
    }
  }